

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffd1dc, #ffe6f0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    background: #e5849f;
    color: white;
}

.subtitle {
    font-weight: 300;
    margin-top: -10px;
     background: #ca7a91;
}

.menu {
    margin-top: 20px;
}

.menu a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 90%;
    
}
h2{
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background: #ff5c8a;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #e94b76;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    color: #555;
}
